```
Student-1
Name: Fahim Wayez
ID# 21-44499-1
```

```
Student-2
Name: MD. Ferdous Sazid
ID# 21-44455-1
```



*   Mount your google drive.

In [4]:
# mount google drive if you are using Colab
# otherewise, leave it blank

# start writing your code here



*   Import necessary libraries.

In [3]:
# load/import all required library

# start writing your code here
import pandas as pd

•	**Task 1:** Read/Load the dataset file in your program. Use Pandas library to complete this task.

In [5]:
# write task-1 solution

# start writing your code here
df = pd.read_csv('projectDataset.csv', encoding='cp1252')
# df.describe()

,Key Id,Group Stage,Knockout Stage,Replayed,Replay,Home Team Score,Away Team Score,Home Team Score Margin,Away Team Score Margin,Extra Time,Penalty Shootout,Home Team Score Penalties,Away Team Score Penalties,Home Team Win,Away Team Win,Draw
count,964.00000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000
mean,482.50000,0.744813,0.255187,0.004149,0.004149,1.766598,1.054979,0.711618,-0.711618,0.075726,0.036307,0.121369,0.108921,0.565353,0.248963,0.185685
std,278.42713,0.436192,0.436192,0.064315,0.064315,1.601040,1.071720,1.925893,1.925893,0.264697,0.187150,0.665731,0.600764,0.495968,0.432637,0.389054
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-7.000000,-9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,241.75000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,482.50000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,723.25000,1.000000,1.000000,0.000000,0.000000,3.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,964.00000,1.000000,1.000000,1.000000,1.000000,10.000000,7.000000,9.000000,7.000000,1.000000,1.000000,5.000000,5.000000,1.000000,1.000000,1.000000

•	**Task 2:** Apply appropriate data cleaning techniques to the dataset. In this step, replace bad data using proper methods and do not delete any record except duplicate records. Use Pandas library to complete this task.

In [3]:
# write task-2 solution

# start writing your code here

•	**Task 3:** Draw graphs to analyze the frequency distributions of the features. Use Matplotlib library to complete this task.

In [4]:
# write task-3 solution

# start writing your code here

•	**Task 4:** Draw graphs to illustrate if there is any relationship between target column to any other columns of the dataset. Use Matplotlib library to complete this task.

In [5]:
# write task-4 solution

# start writing your code here

•	**Task 5:** Perform scaling to the features of the dataset. Remember that you will need to apply data conversion before performing scaling if it is needed.

In [6]:
# write task-5 solution

# start writing your code here

•	**Task 6:** Split your data into two parts: Training dataset and Testing dataset. You must use the function train_test_split() to complete this task and use value 123 as the value of the random_state parameter of this function.

In [7]:
# write task-6 solution

# start writing your code here

•	**Task 7:** Apply Naïve Bayes Classifier to the dataset. Build (train) your prediction model in this step.

In [8]:
# write task-7 solution

# start writing your code here

•	**Taks 8:** Calculate the confusion matrix for your model. Interpret it in detail in the report.

In [9]:
# write task-8 solution

# start writing your code here

•	**Task 9:** Calculate the accuracy, precision, recall and f-1 score of your model.

In [10]:
# write task-9 solution

# start writing your code here

•	**Task 10:** Show how 10-fold cross validation can be used to build a naïve bayes classifier and report the accuracy of this model.

In [11]:
# write task-10 solution

# start writing your code here